<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>WorkHours</display-name>
    <servlet-name>WorkHours</servlet-name>
    <servlet-class>servlets.WorkHours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkHours</servlet-name>
    <url-pattern>/WorkHours</url-pattern>
  </servlet-mapping>
  <display-name>Time-management</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportList</display-name>
    <servlet-name>ReportList</servlet-name>
    <servlet-class>servlets.ReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportList</servlet-name>
    <url-pattern>/ReportList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyReport</display-name>
    <servlet-name>WeeklyReport</servlet-name>
    <servlet-class>servlets.WeeklyReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyReport</servlet-name>
    <url-pattern>/WeeklyReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeDAO</display-name>
    <servlet-name>TimeDAO</servlet-name>
    <servlet-class>models.TimeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeDAO</servlet-name>
    <url-pattern>/TimeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>servlets.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadReportServlet</display-name>
    <servlet-name>DownloadReportServlet</servlet-name>
    <servlet-class>servlets.DownloadReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadReportServlet</servlet-name>
    <url-pattern>/DownloadReportServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>filters.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>success</display-name>
    <servlet-name>success</servlet-name>
    <servlet-class>servlets.success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>error</display-name>
    <servlet-name>error</servlet-name>
    <servlet-class>servlets.error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
</web-app>